body {
	background-color: #000000;
	background-image: url("Pirate_Flag_of_Jack_Rackham.svg_.png");
background-color: #000000;
	
}

.header h2 {
	color: #ff0000;
}

.header p {
	color: #ff0000;
}

.results {
	margin-top: 20px;
}

